{% extends "base.html" %}
{% block page_title %}Minha Dieta{% endblock %}
{% block content %}

    <form id="page1" class="container form-control form-container">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Descrição</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Descreva sua refeição">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Proteínas</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Quantidade de Proteínas em g">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Carboidratos</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Quantidade de Carboidratos em g">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Gorduras</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Quantidade de Gorduras em g">
        </div>
        <div class="d-grid gap-2 button-div" type="submit">
            <button type="button" class="btn btn-primary btn-sm">Próximo</button>  
        </div>
    </form>
  {% endblock %}